body {
    padding: 1em;
    line-height: 2em;
}

label > span, input, button {
    margin-right: 1em;
}

input {
    font-family: monospace;
}

input.large {
    width: 70em;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}